<div class="row">
	<fieldset id='witness'>
		<legend>Witnesses</legend>
		<div class="small-12 columns end">
			<span class="large button success" id="addWitness">Add Witness</span>
		</div>
	</fieldset>
</div>
<div class="row">
	<fieldset id='completer'>
		<legend>Report Completion</legend>
		<div class="small-3 columns">
			<span class="label">Report Completer</span><br>
			<span id='reportCompleter'></span>
		</div>
		<div class="small-3 columns end">
			<span class="label">Date Completed:</span><br>
			<input name='dateComplete' id='dateComplete' type='text'>
		</div>
	</fieldset>
</div>