<div class="row">
	<fieldset id="witnesses">
		<legend>Witnesses</legend>
		<div class="row">
			<div class="small-12 columns">
				<span class="large button success" id="addWitness">Add Witness</span>
				<br>
			</div>
		</div>
	</fieldset>
</div>
<div class="row">
	<fieldset id="completer">
		<legend>Report Completion</legend>
        <div class="row">
            <div class="small-4 columns" id="reportCompleter">
                <span class="label">Report Completer</span><br>
            </div>
            <div class="small-3 columns end">
                <span class="label">Date Completed:</span><br>
                <input name="dateComplete" id="dateComplete" type="text">
            </div>
        </div>
	</fieldset>
</div>